#gameboard{
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
}

.square
{
    height: 40px;
    width: 40px;

}

.square svg{
    height: 30px;
    width: 30px;
    margin: 5px;
}

.biege{
    background-color: rgb(118, 103, 87);
}
.brown{
    background-color: rgb(130, 60, 60);
}
.black{
    fill: 'black';
    
}